################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ComputerVision/v16/Browse.VC.db
*.ipch
